In [86]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config6 import google_key

In [57]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Northampton,40.8754,-75.2499,55.99,86,100,17.34,US,2021-03-28 23:58:43
1,1,Dabat,12.9842,37.7650,56.37,64,84,0.92,ET,2021-03-29 00:02:47
2,2,Broken Hill,-31.9500,141.4333,64.40,48,8,10.36,AU,2021-03-28 23:57:52
3,3,Tasiilaq,65.6145,-37.6368,15.80,62,40,4.61,GL,2021-03-28 23:57:32
4,4,Upernavik,72.7868,-56.1549,-24.74,78,23,4.83,GL,2021-03-28 23:57:52

In [58]:
# Configure gmaps to use your Google API key.
gmaps.configure("AIzaSyAI8iTini72OiyZ7FzXCgbA-_YSf6Xm9PU")

In [59]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 72

In [69]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,13,Port Alfred,-33.5906,26.8910,65.08,78,100,20.31,ZA,2021-03-28 23:57:55
24,24,Praya,14.9215,-23.5087,68.00,73,75,23.02,CV,2021-03-28 23:59:28
42,42,Busselton,-33.6500,115.3333,67.50,55,10,5.66,AU,2021-03-28 23:58:09
43,43,San Quintin,30.4833,-115.9500,68.95,40,0,13.85,MX,2021-03-29 00:02:52
50,50,Esperance,-33.8667,121.9000,68.00,68,0,13.80,AU,2021-03-28 23:57:57
53,53,Horqueta,-23.3428,-57.0597,70.38,90,100,5.14,PY,2021-03-29 00:02:54
54,54,Sungaipenuh,-2.0833,101.3833,65.46,98,100,0.76,ID,2021-03-28 23:58:43
65,65,Shaowu,27.3409,117.4831,70.83,79,9,2.71,CN,2021-03-28 23:58:19
76,76,Pisco,-13.7000,-76.2167,70.00,73,0,20.71,PE,2021-03-28 23:58:24
84,84,San Vicente,-26.6167,-54.1333,65.34,95,87,1.79,AR,2021-03-29 00:02:59

In [70]:
preferred_cities_df.count()

City_ID       125
City          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
Country       125
Date          125
dtype: int64

In [71]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,13,Port Alfred,-33.5906,26.8910,65.08,78,100,20.31,ZA,2021-03-28 23:57:55
24,24,Praya,14.9215,-23.5087,68.00,73,75,23.02,CV,2021-03-28 23:59:28
42,42,Busselton,-33.6500,115.3333,67.50,55,10,5.66,AU,2021-03-28 23:58:09
43,43,San Quintin,30.4833,-115.9500,68.95,40,0,13.85,MX,2021-03-29 00:02:52
50,50,Esperance,-33.8667,121.9000,68.00,68,0,13.80,AU,2021-03-28 23:57:57
...,...,...,...,...,...,...,...,...,...,...
1060,1060,Tezu,27.9167,96.1667,68.99,23,1,3.94,IN,2021-03-29 00:05:49
1065,1065,Pierre,44.3683,-100.3510,68.00,22,1,9.22,US,2021-03-29 00:05:51
1066,1066,Limulunga,-15.0969,23.1376,65.70,84,60,5.23,ZM,2021-03-29 00:05:51
1079,1079,Port Augusta,-32.5000,137.7667,69.80,64,0,6.91,AU,2021-03-29 00:05:55
1084,1084,Maldonado,-34.6667,-54.9167,66.00,94,0,6.91,UY,2021-03-29 00:05:56

In [72]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
13  Port Alfred      ZA     65.08 -33.5906   26.8910
24        Praya      CV     68.00  14.9215  -23.5087
42    Busselton      AU     67.50 -33.6500  115.3333
43  San Quintin      MX     68.95  30.4833 -115.9500
50    Esperance      AU     68.00 -33.8667  121.9000
53     Horqueta      PY     70.38 -23.3428  -57.0597
54  Sungaipenuh      ID     65.46  -2.0833  101.3833
65       Shaowu      CN     70.83  27.3409  117.4831
76        Pisco      PE     70.00 -13.7000  -76.2167
84  San Vicente      AR     65.34 -26.6167  -54.1333

In [78]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "AIzaSyAI8iTini72OiyZ7FzXCgbA-_YSf6Xm9PU"
}

In [79]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [80]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
13,Port Alfred,ZA,65.08,-33.5906,26.8910,The Halyards Hotel
24,Praya,CV,68.00,14.9215,-23.5087,LT Aparthotel
42,Busselton,AU,67.50,-33.6500,115.3333,Observatory Guest House
43,San Quintin,MX,68.95,30.4833,-115.9500,Don Eddie's Sport Fishing Center
50,Esperance,AU,68.00,-33.8667,121.9000,Hospitality Esperance
...,...,...,...,...,...,...
1060,Tezu,IN,68.99,27.9167,96.1667,Circuit House
1065,Pierre,US,68.00,44.3683,-100.3510,Ramkota Hotel
1066,Limulunga,ZM,65.70,-15.0969,23.1376,Acamms Gardens
1079,Port Augusta,AU,69.80,-32.5000,137.7667,Majestic Oasis Apartments
1084,Maldonado,UY,66.00,-34.6667,-54.9167,La Cimarrona

In [81]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [84]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [85]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))