## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherpy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,64.40,94,90,11.50,AR,2021-04-08 20:41:30
1,1,Bambous Virieux,-20.3428,57.7575,80.01,78,40,11.50,MU,2021-04-08 20:43:39
2,2,Huaicheng,23.9051,112.1931,61.43,74,79,2.46,CN,2021-04-08 20:43:40
3,3,Hobart,-42.8794,147.3294,51.80,58,40,13.80,AU,2021-04-08 20:39:05
4,4,Buala,-8.1450,159.5921,76.75,94,100,9.04,SB,2021-04-08 20:43:40

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,64.40,94,90,11.50,AR,2021-04-08 20:41:30
1,1,Bambous Virieux,-20.3428,57.7575,80.01,78,40,11.50,MU,2021-04-08 20:43:39
2,2,Huaicheng,23.9051,112.1931,61.43,74,79,2.46,CN,2021-04-08 20:43:40
4,4,Buala,-8.1450,159.5921,76.75,94,100,9.04,SB,2021-04-08 20:43:40
5,5,Cabedelo,-6.9811,-34.8339,82.40,78,20,14.97,BR,2021-04-08 20:39:35
7,7,Tual,-5.6667,132.7500,83.19,72,70,8.03,ID,2021-04-08 20:43:41
8,8,Lar,26.2039,83.9717,79.66,14,2,4.18,IN,2021-04-08 20:43:41
9,9,Araguari,-18.6472,-48.1872,73.47,56,100,10.74,BR,2021-04-08 20:43:41
10,10,Coquimbo,-29.9533,-71.3436,66.20,68,0,14.97,CL,2021-04-08 20:43:42
11,11,Mahebourg,-20.4081,57.7000,78.80,78,40,11.50,MU,2021-04-08 20:43:42

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0    52
City          52
Lat           52
Lng           52
Max Temp      52
Humidity      52
Cloudiness    52
Wind Speed    52
Country       52
Date          52
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
preferred_cities_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,64.40,94,90,11.50,AR,2021-04-08 20:41:30
1,1,Bambous Virieux,-20.3428,57.7575,80.01,78,40,11.50,MU,2021-04-08 20:43:39
2,2,Huaicheng,23.9051,112.1931,61.43,74,79,2.46,CN,2021-04-08 20:43:40
4,4,Buala,-8.1450,159.5921,76.75,94,100,9.04,SB,2021-04-08 20:43:40
5,5,Cabedelo,-6.9811,-34.8339,82.40,78,20,14.97,BR,2021-04-08 20:39:35
7,7,Tual,-5.6667,132.7500,83.19,72,70,8.03,ID,2021-04-08 20:43:41
8,8,Lar,26.2039,83.9717,79.66,14,2,4.18,IN,2021-04-08 20:43:41
9,9,Araguari,-18.6472,-48.1872,73.47,56,100,10.74,BR,2021-04-08 20:43:41
10,10,Coquimbo,-29.9533,-71.3436,66.20,68,0,14.97,CL,2021-04-08 20:43:42
11,11,Mahebourg,-20.4081,57.7000,78.80,78,40,11.50,MU,2021-04-08 20:43:42
12,12,Chuy,-33.6971,-53.4616,74.28,74,100,8.16,UY,2021-04-08 20:43:42
13,13,Avarua,-21.2078,-159.7750,80.60,83,75,6.91,CK,2021-04-08 20:43:43
14,14,Kapaa,22.0752,-159.3190,75.20,60,40,16.11,US,2021-04-08 20:43:43
16,16,Saint-Philippe,-21.3585,55.7679,78.80,73,0,3.44,RE,2021-04-08 20:43:44
17,17,Puerto Ayora,-0.7393,-90.3518,86.00,62,40,18.41,EC,2021-04-08 20:43:44
18,18,Roebourne,-20.7833,117.1333,82.31,75,70,10.92,AU,2021-04-08 20:43:44
22,22,Vaini,-21.2000,-175.2000,77.00,83,40,5.75,TO,2021-04-08 20:43:46
25,25,Carnarvon,-24.8667,113.6333,73.40,83,65,10.36,AU,2021-04-08 20:39:00
27,27,Castro,-24.7911,-50.0119,66.83,67,88,7.81,BR,2021-04-08 20:42:24
28,28,Vao,-22.6667,167.4833,77.76,80,81,21.23,NC,2021-04-08 20:43:47
29,29,Saint George,37.1041,-113.5841,82.00,11,1,20.71,US,2021-04-08 20:43:45
31,31,Asyut,27.1810,31.1837,73.40,27,0,13.80,EG,2021-04-08 20:42:21
32,32,Rikitea,-23.1203,-134.9692,76.50,64,17,2.66,PF,2021-04-08 20:43:48
38,38,Naze,28.3667,129.4833,62.53,69,100,8.66,JP,2021-04-08 20:39:56
40,40,Butaritari,3.0707,172.7902,82.15,79,46,16.28,KI,2021-04-08 20:43:50
45,45,Ormond Beach,29.2858,-81.0559,82.40,53,40,6.91,US,2021-04-08 20:43:51
46,46,Huarmey,-10.0681,-78.1522,73.63,79,73,9.66,PE,2021-04-08 20:43:52
49,49,Bubaque,11.2833,-15.8333,76.77,75,9,21.94,GW,2021-04-08 20:43:53
51,51,Inhambane,-23.8650,35.3833,73.29,81,87,6.87,MZ,2021-04-08 20:43:54
52,52,Jamestown,42.0970,-79.2353,78.80,31,20,12.66,US,2021-04-08 20:43:08
53,53,Port Alfred,-33.5906,26.8910,66.49,86,73,4.88,ZA,2021-04-08 20:43:54
55,55,Atuona,-9.8000,-139.0333,80.96,73,14,16.31,PF,2021-04-08 20:43:55
57,57,Nouadhibou,20.9310,-17.0347,66.20,77,0,20.71,MR,2021-04-08 20:43:55
63,63,Saint Anthony,45.0205,-93.2180,66.20,77,75,3.44,US,2021-04-08 20:43:57
64,64,East London,-33.0153,27.9116,66.74,81,76,5.59,ZA,2021-04-08 20:43:57
67,67,Adrar,20.5022,-10.0711,82.85,13,0,10.76,MR,2021-04-08 20:43:58
69,69,Coromandel,-18.4733,-47.2003,69.31,65,98,9.26,BR,2021-04-08 20:43:59
70,70,Cairns,-16.9167,145.7667,71.60,100,100,1.14,AU,2021-04-08 20:43:59
71,71,Aripuana,-9.1667,-60.6333,78.15,92,100,1.68,BR,2021-04-08 20:44:00
72,72,Albany,42.6001,-73.9662,72.00,35,40,3.44,US,2021-04-08 20:44:00
74,74,Villa Rica,33.7321,-84.9191,75.20,50,75,5.75,US,2021-04-08 20:44:01
75,75,Paita,-5.0892,-81.1144,86.00,51,0,19.57,PE,2021-04-08 20:44:02
76,76,Harper,4.3750,-7.7169,79.61,86,12,5.61,LR,2021-04-08 20:44:02
77,77,Pisco,-13.7000,-76.2167,73.40,68,0,13.80,PE,2021-04-08 20:39:21
78,78,Alofi,-19.0595,-169.9187,77.00,83,75,4.61,NU,2021-04-08 20:44:02
79,79,Bethel,41.3712,-73.4140,71.60,35,75,13.80,US,2021-04-08 20:44:03
80,80,Qandala,11.4720,49.8728,79.81,46,4,2.89,SO,2021-04-08 20:44:03
82,82,Cape Town,-33.9258,18.4232,66.00,82,0,12.66,ZA,2021-04-08 20:42:35
83,83,Misratah,32.3754,15.0925,60.31,73,100,19.44,LY,2021-04-08 20:44:04
84,84,Kasongo-Lunda,-6.4667,16.8167,70.68,99,98,2.86,CD,2021-04-08 20:44:04
88,88,Mangrol,21.1167,70.1167,78.76,73,0,9.95,IN,2021-04-08 20:44:06
89,89,Mandla,22.6000,80.3833,83.80,24,76,3.49,IN,2021-04-08 20:41:10

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country", "Lat", "Lng", "Max Temp"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country      Lat       Lng  Max Temp Hotel Name
0     Mar Del Plata      AR -38.0023  -57.5575     64.40
1   Bambous Virieux      MU -20.3428   57.7575     80.01
2         Huaicheng      CN  23.9051  112.1931     61.43
4             Buala      SB  -8.1450  159.5921     76.75
5          Cabedelo      BR  -6.9811  -34.8339     82.40
7              Tual      ID  -5.6667  132.7500     83.19
8               Lar      IN  26.2039   83.9717     79.66
9          Araguari      BR -18.6472  -48.1872     73.47
10         Coquimbo      CL -29.9533  -71.3436     66.20
11        Mahebourg      MU -20.4081   57.7000     78.80

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Lat,Lng,Max Temp,Hotel Name
0,Mar Del Plata,AR,-38.0023,-57.5575,64.40,Gran Hotel Mar del Plata
1,Bambous Virieux,MU,-20.3428,57.7575,80.01,Casa Tia Villa
2,Huaicheng,CN,23.9051,112.1931,61.43,Tengye Hotel
4,Buala,SB,-8.1450,159.5921,76.75,Maringe Lagoon Lodge
5,Cabedelo,BR,-6.9811,-34.8339,82.40,Hotel Pigalle
7,Tual,ID,-5.6667,132.7500,83.19,Grand Vilia Hotel
8,Lar,IN,26.2039,83.9717,79.66,Ovaiskarni ward Lar
9,Araguari,BR,-18.6472,-48.1872,73.47,Big Executive Hotel - Araguari MG
10,Coquimbo,CL,-29.9533,-71.3436,66.20,Punto de encuentro
11,Mahebourg,MU,-20.4081,57.7000,78.80,Shandrani Beachcomber Resort & Spa
12,Chuy,UY,-33.6971,-53.4616,74.28,Nuevo Hotel Plaza
13,Avarua,CK,-21.2078,-159.7750,80.60,Paradise Inn
14,Kapaa,US,22.0752,-159.3190,75.20,Sheraton Kauai Resort at Coconut Beach
16,Saint-Philippe,RE,-21.3585,55.7679,78.80,"Chambres d'hÃ´te ""La TrinitÃ©"""
17,Puerto Ayora,EC,-0.7393,-90.3518,86.00,Finch Bay Galapagos Hotel
18,Roebourne,AU,-20.7833,117.1333,82.31,Harding River Caravan Park
22,Vaini,TO,-21.2000,-175.2000,77.00,Keleti Beach Resort
25,Carnarvon,AU,-24.8667,113.6333,73.40,Hospitality Carnarvon
27,Castro,BR,-24.7911,-50.0119,66.83,CHACARA BAILLY
28,Vao,NC,-22.6667,167.4833,77.76,Hotel Kou-Bugny
29,Saint George,US,37.1041,-113.5841,82.00,Best Western Plus Abbey Inn
31,Asyut,EG,27.1810,31.1837,73.40,Florence Hotel Assiut
32,Rikitea,PF,-23.1203,-134.9692,76.50,Pension Maro'i
38,Naze,JP,28.3667,129.4833,62.53,å¥„ç¾Žãƒãƒ¼ãƒˆã‚¿ãƒ¯ãƒ¼ãƒ›ãƒ†ãƒ«
40,Butaritari,KI,3.0707,172.7902,82.15,Isles Sunset Lodge
45,Ormond Beach,US,29.2858,-81.0559,82.40,Makai Beach Lodge
46,Huarmey,PE,-10.0681,-78.1522,73.63,Hotel Miramar
49,Bubaque,GW,11.2833,-15.8333,76.77,"Casa Dora, Bubaque"
51,Inhambane,MZ,-23.8650,35.3833,73.29,Oceano
52,Jamestown,US,42.0970,-79.2353,78.80,Hampton Inn & Suites Jamestown
53,Port Alfred,ZA,-33.5906,26.8910,66.49,The Halyards Hotel
55,Atuona,PF,-9.8000,-139.0333,80.96,Villa Enata
57,Nouadhibou,MR,20.9310,-17.0347,66.20,El Medina
63,Saint Anthony,US,45.0205,-93.2180,66.20,Holiday Inn Express Roseville-St. Paul
64,East London,ZA,-33.0153,27.9116,66.74,Tu Casa
67,Adrar,MR,20.5022,-10.0711,82.85,
69,Coromandel,BR,-18.4733,-47.2003,69.31,Hotel Dona AdÃ©lia
70,Cairns,AU,-16.9167,145.7667,71.60,Mantra Trilogy Cairns
71,Aripuana,BR,-9.1667,-60.6333,78.15,
72,Albany,US,42.6001,-73.9662,72.00,
74,Villa Rica,US,33.7321,-84.9191,75.20,Days Inn by Wyndham Villa Rica
75,Paita,PE,-5.0892,-81.1144,86.00,Hotel NÃ¡utico de Paita
76,Harper,LR,4.3750,-7.7169,79.61,Screensaver
77,Pisco,PE,-13.7000,-76.2167,73.40,Hotel San Isidro Oficial
78,Alofi,NU,-19.0595,-169.9187,77.00,Taloa Heights
79,Bethel,US,41.3712,-73.4140,71.60,Courtyard by Marriott Danbury
80,Qandala,SO,11.4720,49.8728,79.81,
82,Cape Town,ZA,-33.9258,18.4232,66.00,Southern Sun Waterfront Cape Town
83,Misratah,LY,32.3754,15.0925,60.31,ÙÙ†Ø¯Ù‚ Ø§Ù„Ù…Ø§Ø³Ø©
84,Kasongo-Lunda,CD,-6.4667,16.8167,70.68,
88,Mangrol,IN,21.1167,70.1167,78.76,Hotel The Royal Honours
89,Mandla,IN,22.6000,80.3833,83.80,Bison Resort

In [23]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("weatherpy_vacation.csv")
# 8b. Export the City_Data into a csv
#hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))