## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/weatherpy_vacation.csv")
vacation_df.sort_values(by='Country', ascending= True)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Hotel Name
0,0,Mar Del Plata,AR,-38.0023,-57.5575,64.40,Gran Hotel Mar del Plata
15,18,Roebourne,AU,-20.7833,117.1333,82.31,Harding River Caravan Park
37,70,Cairns,AU,-16.9167,145.7667,71.60,Mantra Trilogy Cairns
17,25,Carnarvon,AU,-24.8667,113.6333,73.40,Hospitality Carnarvon
4,5,Cabedelo,BR,-6.9811,-34.8339,82.40,Hotel Pigalle
7,9,Araguari,BR,-18.6472,-48.1872,73.47,Big Executive Hotel - Araguari MG
18,27,Castro,BR,-24.7911,-50.0119,66.83,CHACARA BAILLY
36,69,Coromandel,BR,-18.4733,-47.2003,69.31,Hotel Dona Adélia
38,71,Aripuana,BR,-9.1667,-60.6333,78.15,NaN
49,84,Kasongo-Lunda,CD,-6.4667,16.8167,70.68,NaN
11,13,Avarua,CK,-21.2078,-159.7750,80.60,Paradise Inn
8,10,Coquimbo,CL,-29.9533,-71.3436,66.20,Punto de encuentro
2,2,Huaicheng,CN,23.9051,112.1931,61.43,Tengye Hotel
14,17,Puerto Ayora,EC,-0.7393,-90.3518,86.00,Finch Bay Galapagos Hotel
21,31,Asyut,EG,27.1810,31.1837,73.40,Florence Hotel Assiut
27,49,Bubaque,GW,11.2833,-15.8333,76.77,"Casa Dora, Bubaque"
5,7,Tual,ID,-5.6667,132.7500,83.19,Grand Vilia Hotel
50,88,Mangrol,IN,21.1167,70.1167,78.76,Hotel The Royal Honours
51,89,Mandla,IN,22.6000,80.3833,83.80,Bison Resort
6,8,Lar,IN,26.2039,83.9717,79.66,Ovaiskarni ward Lar
23,38,Naze,JP,28.3667,129.4833,62.53,奄美ポートタワーホテル
24,40,Butaritari,KI,3.0707,172.7902,82.15,Isles Sunset Lodge
42,76,Harper,LR,4.3750,-7.7169,79.61,Screensaver
48,83,Misratah,LY,32.3754,15.0925,60.31,فندق الماسة
35,67,Adrar,MR,20.5022,-10.0711,82.85,NaN
32,57,Nouadhibou,MR,20.9310,-17.0347,66.20,El Medina
1,1,Bambous Virieux,MU,-20.3428,57.7575,80.01,Casa Tia Villa
9,11,Mahebourg,MU,-20.4081,57.7000,78.80,Shandrani Beachcomber Resort & Spa
28,51,Inhambane,MZ,-23.8650,35.3833,73.29,Oceano
19,28,Vao,NC,-22.6667,167.4833,77.76,Hotel Kou-Bugny
44,78,Alofi,NU,-19.0595,-169.9187,77.00,Taloa Heights
26,46,Huarmey,PE,-10.0681,-78.1522,73.63,Hotel Miramar
43,77,Pisco,PE,-13.7000,-76.2167,73.40,Hotel San Isidro Oficial
41,75,Paita,PE,-5.0892,-81.1144,86.00,Hotel Náutico de Paita
31,55,Atuona,PF,-9.8000,-139.0333,80.96,Villa Enata
22,32,Rikitea,PF,-23.1203,-134.9692,76.50,Pension Maro'i
13,16,Saint-Philippe,RE,-21.3585,55.7679,78.80,"Chambres d'hôte ""La Trinité"""
3,4,Buala,SB,-8.1450,159.5921,76.75,Maringe Lagoon Lodge
46,80,Qandala,SO,11.4720,49.8728,79.81,NaN
16,22,Vaini,TO,-21.2000,-175.2000,77.00,Keleti Beach Resort
40,74,Villa Rica,US,33.7321,-84.9191,75.20,Days Inn by Wyndham Villa Rica
20,29,Saint George,US,37.1041,-113.5841,82.00,Best Western Plus Abbey Inn
45,79,Bethel,US,41.3712,-73.4140,71.60,Courtyard by Marriott Danbury
25,45,Ormond Beach,US,29.2858,-81.0559,82.40,Makai Beach Lodge
39,72,Albany,US,42.6001,-73.9662,72.00,NaN
12,14,Kapaa,US,22.0752,-159.3190,75.20,Sheraton Kauai Resort at Coconut Beach
33,63,Saint Anthony,US,45.0205,-93.2180,66.20,Holiday Inn Express Roseville-St. Paul
29,52,Jamestown,US,42.0970,-79.2353,78.80,Hampton Inn & Suites Jamestown
10,12,Chuy,UY,-33.6971,-53.4616,74.28,Nuevo Hotel Plaza
34,64,East London,ZA,-33.0153,27.9116,66.74,Tu Casa
47,82,Cape Town,ZA,-33.9258,18.4232,66.00,Southern Sun Waterfront Cape Town
30,53,Port Alfred,ZA,-33.5906,26.8910,66.49,The Halyards Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Araguari"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Castro"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Coromandel"]

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
coord_start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
coord_end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
coord_stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
coord_stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
coord_stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {coord_start}\nStop 1: {coord_stop1}\nStop 2: {coord_stop2}\nStop 3: {coord_stop3}\nEnd: {coord_end}')

Start: (-6.9811, -34.8339)
Stop 1: (-18.6472, -48.1872)
Stop 2: (-24.7911, -50.0119)
Stop 3: (-18.4733, -47.2003)
End: (-6.9811, -34.8339)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
        coord_start, coord_end, waypoints=[coord_stop1, coord_stop2, coord_stop3],
        travel_mode='DRIVING')

fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Hotel Name
0,5,Cabedelo,BR,-6.9811,-34.8339,82.40,Hotel Pigalle
1,9,Araguari,BR,-18.6472,-48.1872,73.47,Big Executive Hotel - Araguari MG
2,27,Castro,BR,-24.7911,-50.0119,66.83,CHACARA BAILLY
3,69,Coromandel,BR,-18.4733,-47.2003,69.31,Hotel Dona Adélia
4,5,Cabedelo,BR,-6.9811,-34.8339,82.40,Hotel Pigalle

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))